body{
    background: url(background.jpg) center center / cover no-repeat fixed;
    padding-top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

#popup {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.55);
    font-family: "Brush Script Std";
    text-align: center;
    height: 35%;
    width: 65%;   
}

h1.welcome {
    padding-top: 22px;
    font-size: 10vh;
    width: 85vw;
}

p.warning {
    font-size: 7vh;
    width: 85vw;
}

#close {
    color: rgba(163, 22, 22, 0.55);
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 7vh;
}

#close:hover {
    color: rgba(255, 69, 0, 75%);
    letter-spacing: 3px;
}