/* Top to Bottom Styles */
body{
	background: url(Adventure.png) center center / cover no-repeat fixed;
	font-family: Arial black;
	color: white;
    max-width: width 100vw;
    text-align: center;
    text-shadow: 0 5px 8px rgb(32, 31, 31, .40);
}

#intro{
    font-family: Arial black;
	color: rgba(29, 28, 28, 75%);
    width: 100vw;
    font-size: 3vh;
    text-align: center;
    text-shadow: 0 7px 8px rgb(32, 31, 31, .50);
}

#intro2{
    display: flex;
    padding-top: 2%;
    font-family: Arial black;
    color: rgba(29, 28, 28, 75%);
    width: 100vw;
    font-size: 2vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-shadow: 0 7px 8px rgb(32, 31, 31, .50);
    padding: 5px;

}
.welcome{
    font-family: Arial black;
	color: rgba(29, 28, 28, 75%);
    width: 100vw;
    font-size: 5vh;
    text-align: center;
    text-shadow: 0 7px 8px rgb(32, 31, 31, .50);
}

.site{
    display: flex;
    min-height: 100vw;
    flex-direction: column;
}

.site_content{
    flex: 1;
}

/* Header Nav and Logo */
.header-bar{
    display: flex;
    justify-content: space-around;
    color: rgba(43, 40, 40, 65%);
	font-family: "Brush Script Std";
    text-shadow: 0 5px 8px rgb(32, 31, 31, .40);
    font-size: 3vh;
    background: linear-gradient(0deg, rgba(222,222,222,.4) 0%, rgba(22,22,22,.4) 100%);
}

/* Photo Carousel Style */
#family_carousel{
    border-radius: 1%;
    padding-left: 8px;
    padding-bottom: 20px;
    padding-right: 8px;
    height: 100vh;
    width: 40vw;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.4), 0 8px 22px 0 rgba(0, 0, 0, 0.35);
    text-shadow: 0px 3px 5px rgb(32, 31, 31, .40);
    font-display: center;
}

#fishing_carousel{
    display: flex;
    align-content: center;
    justify-content: center;
    color: rgba(222,222,222,.75);
    font-display: center;
    font-size: 3vh;
}
#carousel_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 80vw;
    padding: 5px;
    padding-bottom: 20px;
    padding-top: 10px;
}

#about-and-carousel{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Footer Styles */
#footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex-direction: column;
    text-align: center;
    color: silver;
    font-size: 2vh;
}
footer a{
    color: rgb(124, 20, 20);
}
#footer a:hover{
    color: rgba(255, 69, 0, 75%);
    letter-spacing: 1px;
}